@using OnlineSinavPortali.Models


@model Tuple<List<girisler>,List<degerlendirme>>


@{
    ViewBag.Title = "SinavYorumlari";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    table {
        border: 1px solid red;
        margin: 1px 1px 1px 1px;
    }

    td {
        color: #07ea43;
        font-size: 20px;
    }

    th {
        color: yellowgreen;
        font-size: 20px;
    }
</style>

@Html.ActionLink("AKADEMİSYEN ANASAYFA", "AkademisyenAnasayfa", null, new { @class = "text-info", @style = "font-size:20px;" })

<br />

<h2>SINAV SEÇİNİZ</h2>

<br /><br />

@using (Html.BeginForm("SinavYorumlari", "Akademisyen", FormMethod.Post))
{
    @Html.DropDownList("sinav",new SelectList(ViewBag.sinavYorum,"Text","Value"),new { @class = "form-control" })<br />
    <input type="submit" name="onay" class="btn btn-success" value="SINAV YORUMLARINI GÖR"/>
}

<div><br /></div>

@if (Model != null)
{

    <table border="1">

        <tr>
            <th>KULLANICI ADI</th>
            <th>SINAVA VERDİĞİ PUAN</th>
            <th>SINAVA YAPTIĞI YORUM</th>
        </tr>

        @for (int i = 0; i < Model.Item1.Count; i++)
        {
            <tr>
                <td>@Model.Item1[i].kullanici_adi</td>
                <td>@Model.Item2[i].puan</td>
                <td>@Model.Item2[i].yorum</td>
            </tr>
        }

    </table>

}

